body{
    background-color: #fffdf9;
    font-family: Roboto, sans-serif;
}

.content-wrapper{
    font-size: larger;
}

.register-form {
    width: 300px;
    margin-left: calc((100vw / 2) - 150px);
    /*margin-top: 100px;*/
    /*padding-top: 50px;*/
    text-align: center;
}

.login-welcome {
    text-align: center;
    margin-top: 20vh;
    cursor: pointer;
}

.header-bar {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 500;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0,0,0,0.06) 0 3px 48px 8px;
}

.logo {
    width: 134px;
    height: 50px;
    padding-top: 0;
    margin-left: 5px;
    left: 0;
    position: fixed;
    color: #272540;
}

.ok-button {
    display: inline-block;
    margin-top: 20px;
    width: 90px;
    border: 3px #110a16 solid;
    border-radius: 3px;
    cursor: pointer;
}

.ok-button-pwa {
    display: inline-block;
    width: 90px;
    border: 3px #110a16 solid;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

.single-test-run-button {
    margin-top: 6px !important;
    margin-right: 15px !important;
}

.content-wrapper {
    margin-top: 50px;
    /*height: calc(100vh - 50px);*/
}

.search-choice{
    width: 100vw;
    height: calc(100vh - 50px);
    text-align: center;
}

.image-search-area{
    width: 100%;
    height: calc(100vh - 50px);
    display: inline-block;
    text-align: center;
    position: relative;
}

.image-search-area:hover{
    background-color: #e9e9e9;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.image-dropzone{
    width: 100vw;
    height: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.image-search-icon-alt{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background: url('../images/baseline-image_search-24px.svg') no-repeat center;
    background-size: 64px 64px;
    width: 70px;
    height: 70px;
}

.image-search-title{
    display: table;
    text-align: center;
    height: 100%;
    width: 100vw;
    max-width: 320px;
    margin-left: calc(50vw - 160px);
}

.search-choice-button-type{
    width: 100%;
    height: 100px;
    /*height: calc(20vh - 25px);*/
    /*background: url('../images/search_choice_type.jpg') no-repeat center;*/
    /*background-size: cover;*/
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}

.search-choice-button-image{
    width: 100%;
    height: 100px;
    /*height: calc(20vh - 25px);*/
    /*background: url('../images/search_choice_photo.jpg') no-repeat center;*/
    /*background-size: cover;*/
    display: inline-block;
    text-align: center;
    padding-top: 25px;
}

.search-choice-button-explore{
    width: 100%;
    height: calc(33.33vh - 17px);
    background: url('../images/image-explore.jpg') no-repeat center;
    background-size: cover;
    display: inline-block;
    text-align: center;
}

.search-choice-button-type:hover{
    cursor: pointer;
    opacity: 0.6;
}

.search-choice-button-image:hover{
    cursor: pointer;
    opacity: 0.6;
}

.search-choice-button-explore:hover{
    cursor: pointer;
    opacity: 0.6;
}

.explore-choice-button{
    width: 100%;
    height: calc(30vh - 17px);
    display: inline-block;
    text-align: center;
}

.landing-cat-tile{
    width: 33.333vw;
    height: 11vh;
    display: inline-block;
    font-size: 1.5rem;
    border-left: solid 1px #eaeaea;
}

.landing-cat-tile:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.explore-choice-blurb-top{
    height: 11vh;
    font-size: 1.7rem;
    text-align: left;
    position: relative;
    padding-top: calc(11vh - 40px);
    padding-left: 5%;
}

.explore-choice-blurb-top:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.explore-choice-blurb-bottom{
    height: 11vh;
    font-size: 1.7rem;
    text-align: right;
    padding-right: 5%;
}

.explore-choice-blurb-bottom:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.search-choice-title{
    display: table;
    text-align: center;
    height: 60px;
    width: 220px;
    margin-left: calc(50vw - 110px);
    /*margin-top: calc(((20vh - 25px) / 2) - 30px);*/
    background-color: white;
    border-radius: 4px;
    /*box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);*/
}

.image-search-icon{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background: url('../images/baseline-add_a_photo-24px.svg') no-repeat center;
    background-size: 30px 30px;
    width: 40px;
    height: 40px;
}

.search-choice-deals-icon {
    vertical-align: middle;
    background: #ffffff url('../images/percentage.png') no-repeat center;
    background-size: 30px 30px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.search-choice-deals:hover {
    opacity: 0.6;
}

.search-glass-icon{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background: url('../images/baseline-search-24px.svg') no-repeat center;
    background-size: 48px 48px;
    width: 64px;
    height: 64px;
}

.text-search-icon{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background: white url('../images/baseline-keyboard-24px.svg') no-repeat center;
    background-size: 48px 48px;
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.search-choice-text{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    font-size: 1.3rem;
}

@media (min-width: 700px) {
    .search-choice-button-type{
        width: 50%;
        height: 100px;
        /*height: calc(30vh - 25px);*/
        /*background: url('../images/search_choice_type.jpg') no-repeat center;*/
        /*background-size: cover;*/
        display: inline-block;
        text-align: center;
        padding-top: 20px;
    }

    .search-choice-button-image{
        /*width: 50%;*/
        height: 100px;
        /*height: calc(30vh - 25px);*/
        /*background: url('../images/search_choice_photo.jpg') no-repeat center;*/
        /*background-size: cover;*/
        display: inline-block;
        text-align: center;
        padding-top: 20px;
    }

    .search-choice-title{
        display: table;
        text-align: center;
        height: 60px;
        width: 220px;
        margin-left: calc(20vw - 110px);
        /*margin-top: calc(((30vh - 25px) / 2) - 30px);*/
        background-color: white;
        border-radius: 4px;
        /*box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);*/
    }
}

.drop-text{
    display: table-cell;
    vertical-align: middle;
}

.preview-container{
    width: 100vw;
    /*height: calc(100vh - 50px);*/
    margin-top: 50px;
    text-align: center;
    position: absolute;
    top: 50px;
}

.preview-container-new{
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 50px;
    margin-top: 10px;
}

/*.image-preview{*/
    /*!*width: 100vw;*!*/
    /*height: calc(100vh - 175px);*/
    /*width: auto;*/
/*}*/

.search-button{
    width: 100vw;
    position: fixed;
    /*margin-left: calc((100vw - 200px) / 2);*/
    /*border-radius: 3px;*/
    /*border: 1px solid #c4c4c4;*/
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
    bottom: 0;
    background-color: rgb(22, 18, 25);
    color: #ffffff;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}


.search-button:hover{
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(250, 250, 250, 0.9);
    cursor: pointer;
    color: #000000;
}

.product-tile{
    text-align: center;
    margin: 15px;
    width: 80vw;
    max-width: 400px;
    padding-bottom: 15px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.recommend-product-tile{
    text-align: center;
    margin: 5px;
    width: 45vw;
    max-width: 300px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 0.9rem;
    box-shadow: rgba(0,0,0,0.04) 0 3px 24px 8px;
    transition: all 0.3s;
}

.recommend-product-tile:hover {
    box-shadow: rgba(0,0,0,0.16) 0 3px 24px 8px;
    /*transform: scale(1.02);*/
}

.result-product-tile {
    text-align: center;
    margin: 5px;
    width: 45vw;
    max-width: 300px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 0.9rem;
    box-shadow: rgba(0,0,0,0.04) 0 3px 24px 8px;
    transition: all 0.3s;
}

.result-product-tile:hover {
    box-shadow: rgba(0,0,0,0.16) 0 3px 24px 8px;
}

.profile-product-tile{
    text-align: center;
    margin: 5px;
    width: 45vw;
    max-width: 300px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 0.9rem;
    box-shadow: rgba(0,0,0,0.04) 0 3px 24px 8px;
    transition: all 0.3s;
}

.profile-product-tile:hover {
    box-shadow: rgba(0,0,0,0.16) 0 3px 24px 8px;
}

.product-brand-profile{
    font-size: 0.8rem;
    color: #5f5d92;
}

.result-pane{
    text-align: center;
    width: 100vw;
}

.color-modal{
    z-index: 20;
    width: 100vw;
    /*height: calc(100vh - 50px);*/
    text-align: center;
    position: absolute;
    top: 50px;
    padding: 20px;
    background-color: #FFFFFF;
}

.error-modal{
    z-index: 20;
    width: 400px;
    height: 200px;
    text-align: center;
    position: fixed;
    top: 200px;
    margin-left: calc(50vw - 200px);
    padding: 20px;
}

.overlay{
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgb(209, 193, 165);
    position: fixed;
    top: 0;
}

.add-to-favorites{
    width: 46px;
    height: 46px;
    background: #FFFFFF url('../images/baseline-favorite-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 40px 40px;
    border-radius: 23px;
    position: absolute;
    margin-top: -38px;
    right: 56px;
    cursor: pointer;
}

.add-to-favorites-mobile{
    width: 46px;
    height: 46px;
    background: #FFFFFF url('../images/baseline-favorite-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 28px 28px;
    border-radius: 23px;
    position: absolute;
    right: 60px;
    cursor: pointer;
}

.add-to-favorites-wardrobe{
    width: 36px;
    height: 36px;
    background: #FFFFFF url('../images/baseline-favorite-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 21px 21px;
    border-radius: 18px;
    position: absolute;
    margin-top: -20px;
    right: 5px;
    cursor: pointer;
    z-index: 10;
}

.add-to-favorites-intro{
    width: 100px;
    height: 100px;
    background: #FFFFFF url('../images/baseline-favorite-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 100px 100px;
    border-radius: 50px;
    position: absolute;
    margin-top: -60px;
    right: 15px;
    cursor: pointer;
}

.buy-now{
    width: 46px;
    height: 46px;
    background: #FFFFFF url('../images/shopping-cart.svg') no-repeat center;
    filter: invert(100%);
    background-size: 38px 38px;
    border-radius: 23px;
    position: absolute;
    margin-top: -38px;
    cursor: pointer;
    right: 7px;
}

.buy-now-mobile{
    width: 46px;
    height: 46px;
    background: #FFFFFF url('../images/shopping-cart.svg') no-repeat center;
    filter: invert(100%);
    background-size: 28px 28px;
    border-radius: 23px;
    position: absolute;
    cursor: pointer;
    right: 7px;
}

.explore-options{
    width: 34px;
    height: 34px;
    background: #FFFFFF url('../images/more_horiz-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 36px 36px;
    border-radius: 17px;
    position: absolute;
    bottom: 3px;
    cursor: pointer;
    right: 3px;
}

.color-picker{
    width: 64px;
    height: 64px;
    background: #fca3e1 url('../images/icons8-color-dropper-96.png') no-repeat center;
    background-size: 48px 48px;
    border-radius: 32px;
    position: absolute;
    margin-top: -150px;
    right: -15px;
    cursor: pointer;
}

.color-picker-white{
    width: 64px;
    height: 64px;
    background: #fca3e1 url('../images/baseline_palette_white_48dp.png') no-repeat center;
    background-size: 48px 48px;
    border-radius: 32px;
    position: absolute;
    margin-top: -150px;
    right: -15px;
    cursor: pointer;
}

.color-picker-black{
    width: 64px;
    height: 64px;
    background: #fca3e1 url('../images/baseline_palette_black_48dp.png') no-repeat center;
    background-size: 48px 48px;
    border-radius: 32px;
    position: absolute;
    margin-top: -150px;
    right: -15px;
    cursor: pointer;
}

.cat-picker-bubble{
    width: 46px;
    height: 46px;
    background: #FFFFFF url('../images/baseline-tune-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 38px 38px;
    border-radius: 23px;
    position: absolute;
    margin-top: -38px;
    right: 105px;
    cursor: pointer;
}

.cat-picker-bubble-plus{
    position: relative;
    display: inline-block;
    top: 8px;
    left: 5px;
    width: 32px;
    height: 32px;
    background: #FFFFFF url('../images/baseline-add-24px.svg') no-repeat center;
    background-size: 42px 42px;
    filter: invert(100%);
}

.cat-picker-bubble-minus{
    position: relative;
    display: inline-block;
    top: 27px;
    right: 4px;
    width: 32px;
    height: 32px;
    background: #FFFFFF url('../images/baseline-remove-24px.svg') no-repeat center;
    background-size: 42px 42px;
    filter: invert(100%);
}

.brand-picker-bubble-minus{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #FFFFFF url('../images/baseline-remove-24px.svg') no-repeat center;
    background-size: 24px 24px;
    border: 2px #000000 solid;
    float: right;
    margin-right: 2px;
    margin-top: 2px;
}

.brand-picker-bubble-plus{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFFFFF url('../images/baseline-add-24px.svg') no-repeat center;
    background-size: 20px 20px;
    border: 1px #000000 solid;
    float: left;
    position: absolute;
    left: -5px;
    top: -15px;
}

.search-similar{
    width: 46px;
    height: 46px;
    background: #FFFFFF url('../images/baseline-search-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 38px 38px;
    border-radius: 23px;
    position: absolute;
    margin-top: -38px;
    right: 201px;
    cursor: pointer;
}

.search-similar-mobile{
    width: 46px;
    height: 46px;
    background: #FFFFFF url('../images/baseline-search-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 28px 28px;
    border-radius: 23px;
    position: absolute;
    right: 165px;
    cursor: pointer;
}

.search-similar-recommend{
    width: 36px;
    height: 36px;
    background: #FFFFFF url('../images/baseline-search-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 24px 24px;
    border-radius: 18px;
    position: absolute;
    margin-top: -20px;
    right: 47px;
    cursor: pointer;
    z-index: 10;
}

.search-similar-wardrobe{
    width: 36px;
    height: 36px;
    background: #FFFFFF url('../images/baseline-search-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 32px 32px;
    border-radius: 18px;
    position: absolute;
    margin-top: -110px;
    right: 47px;
    cursor: pointer;
}

.add-to-favorites-outfit-page{
    width: 27px;
    height: 27px;
    background: #FFFFFF url('../images/baseline-favorite-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 23px 23px;
    border-radius: 13px;
    right: 15px;
    cursor: pointer;
    display: inline-block;
}

.search-similar-outfit-page{
    width: 27px;
    height: 27px;
    background: #FFFFFF url('../images/baseline-search-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 21px 21px;
    border-radius: 13px;
    right: 41px;
    cursor: pointer;
    display: inline-block;
}

.share-outfit-page{
    width: 27px;
    height: 27px;
    background: #FFFFFF url('../images/share-24px.svg') no-repeat 30% 50%;
    filter: invert(100%);
    background-size: 21px 21px;
    border-radius: 13px;
    right: 41px;
    cursor: pointer;
    display: inline-block;
}

.buy-outfit-page{
    width: 27px;
    height: 27px;
    background: #FFFFFF url('../images/shopping-cart.svg') no-repeat 50% 50%;
    filter: invert(100%);
    background-size: 21px 21px;
    border-radius: 13px;
    right: 41px;
    cursor: pointer;
    display: inline-block;
}

.search-from-url{
    width: 44px;
    height: 44px;
    background: #FFFFFF url('../images/baseline-search-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 38px 38px;
    border-radius: 22px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.colorcat-search-button{
    background-color: #110a16;
    width: 100vw;
    height: 80px;
    font-size: 2.5rem;
    color: white;
    padding-top: 6px;
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.add-outfit-cancel{
    width: 25px;
    height: 25px;
    background: #FFFFFF url('../images/baseline-clear-24px.svg') no-repeat center;
    background-size: 25px 25px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: -290px;
}

.pick-color-cancel{
    width: 25px;
    height: 25px;
    background: #FFFFFF url('../images/baseline-clear-24px.svg') no-repeat center;
    background-size: 25px 25px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: calc(100% - 40px);
}

.colorcat-search-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.4);
    background-color: #f5f5f5;
    color: #110a16;
}

.cat-choice{
    background-color: #ece8ee;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    padding: 10px;
}

.cat-choice-main{
    background-color: #ece8ee;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    padding: 10px;
    border: solid thick #000000;
}

.search-icon{
    background: url('../images/baseline-search-24px.svg') no-repeat center;
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -8px;
}

.search-icon-landing{
    background: url('../images/baseline-search-24px.svg') no-repeat center;
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    display: inline-block;
    vertical-align: bottom;
}

.landing-cat-title{
    height: 60px;
    display: inline-block;
    margin-top: calc(11vh / 2 - 20px);
}

.text-search-button{
    display: inline-block;
    cursor: pointer;
    height: 30px;
}

.search-text{
    font-size: x-large;
    /*vertical-align: middle;*/
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    /*padding-bottom: 20px;*/
}

.text-search-box{
    text-align: center;
    margin-top: 25vh;
}

.inner-text-search-box{
    display: inline-block;
    padding-left: 10px;
}

.product-image{
    max-width: 100%;
    height: auto;
}

.text-search-input{
    color: #7f649c;
    max-width: 70vw;
    margin: 0 auto;
    font-weight: 900;
 }

.price-filter-input{
    color: #7f649c;
    width: 200px;
    margin: 0 auto;
}

.favorites-button{
    /*background: url('../images/hanger_small.png') no-repeat center;*/
    background: #FFFFFF url('../images/baseline-favorite-24px.svg') no-repeat center;
    filter: invert(100%);
    background-size: 32px 32px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    opacity : 0.8;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    top: -4px;
}

.add-look-button{
    background: url('../images/baseline_control_point_black_36dp.png') no-repeat center;
    background-size: 18px 18px;
    background-position: right 0px top 3.3px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 2px;
    opacity : 1;
    cursor: pointer;
    margin-right: 5px;
}

.remove-look-button{
    background: url('../images/baseline-clear-24px.svg') no-repeat center;
    background-size: 20px 20px;
    background-position: center;
    width: 25px;
    height: 100%;
    background-color: #00b1a3;
    display: inline-block;
    opacity : 1;
    cursor: pointer;
    position: relative;
    filter: invert(100%);
    border-radius: 4px 0 0 4px;
}

.edit-look-button{
    background: url('../images/edit-24px.svg') no-repeat center;
    background-size: 20px 20px;
    background-position: center;
    width: 25px;
    height: 100%;
    background-color: #ff8274;
    display: inline-block;
    opacity : 1;
    cursor: pointer;
    position: relative;
    filter: invert(100%);
    /*border-radius: 4px 0 0 4px;*/
}

.expand-looks-button{
    background: url('../images/baseline_expand_more_black_36dp.png') no-repeat center;
    background-size: 28px 28px;
    background-position: right -5px top -2px;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity : 1;
    cursor: pointer;
    margin-right: -3px;
}

.contract-looks-button{
    background: url('../images/baseline_expand_less_black_36dp.png') no-repeat center;
    background-size: 28px 28px;
    background-position: right -5px top -2px;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity : 1;
    cursor: pointer;
    margin-right: -3px;
}

.home-button{
    background: url('../images/baseline-home-24px.svg') no-repeat center;
    background-size: 52px 52px;
    width: 48px;
    height: 48px;
    display: inline-block;
    opacity : 0.8;
    cursor: pointer;
    margin-right: 10px;
}

.profile-button{
    background: url('../images/baseline-account_circle-24px.svg') no-repeat center;
    background-size: 47px 47px;
    width: 48px;
    height: 48px;
    display: inline-block;
    opacity : 0.8;
    cursor: pointer;
    margin-right: 5px;
}

.deal-button{
    background: #ffffff url('../images/percentage.png') no-repeat center;
    background-size: 32px 32px;
    width: 39px;
    height: 39px;
    border-radius: 19.5px;
    display: inline-block;
    opacity : 0.8;
    cursor: pointer;
    margin-right: 5px;
    filter: invert(1);
    margin-bottom: 4px;
}

.header-prompt{
    margin: 15px;
    color: #333333;
}

.product-price{
    font-size: 1rem;
}

.product-price-sale{
    color: #dc1b59;
    font-size: 1rem;
}

.profile-product-list{
    text-align: center;
}

.login-button{
    margin-bottom: 20px;
    background-color: #110a16;
    color: white;
    border-radius: 4px;
    width: 200px;
}

.greeting-text{
    margin: 10px;
}

.profile-product-delete{
    width: 36px;
    height: 36px;
    background: #FFFFFF url('../images/baseline-delete_forever-24px.svg') no-repeat center;
    background-size: 32px 32px;
    border-radius: 18px;
    position: absolute;
    bottom: 60px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.4);
    filter: invert(1);
}

.product-delete-wardrobe{
    width: 36px;
    height: 36px;
    background: #FFFFFF url('../images/baseline-delete_forever-24px.svg') no-repeat center;
    background-size: 32px 32px;
    border-radius: 18px;
    position: absolute;
    margin-top: -110px;
    right: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.4);
    filter: invert(1);
}

.profile-product-buy{
    width: 36px;
    height: 36px;
    background: #FFFFFF url('../images/baseline-shopping_basket-24px.svg') no-repeat center;
    background-size: 28px 28px;
    border-radius: 18px;
    position: absolute;
    right: 90px;
    cursor: pointer;
    bottom: 70px;
    filter: invert(1);
}

.product-buy-wardrobe{
    width: 36px;
    height: 36px;
    background: #FFFFFF url('../images/baseline-shopping_basket-24px.svg') no-repeat center;
    background-size: 28px 28px;
    border-radius: 18px;
    position: absolute;
    right: 90px;
    cursor: pointer;
    margin-top: -110px;
    filter: invert(1);
}

.sex-selector{
    position: fixed;
    left: 10px;
    top: 60px;
    width: 48px;
    height: 48px;
    background: #ffffff url('../images/baseline-wc-24px.svg') no-repeat center;
    filter: invert(100%);
    opacity : 0.9;
    background-size: 36px 36px;
    cursor: pointer;
    border-radius: 24px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
    text-align: right;
}

.menu-expander{
    position: relative;
    width: 48px;
    height: 48px;
    background: url('../images/baseline-expand_more-24px.svg') no-repeat center;
    /*filter: invert(100%);*/
    opacity : 1;
    background-size: 48px 48px;
    cursor: pointer;
    border-radius: 24px;
    /*box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);*/
    text-align: right;
    margin-left: 10px;
}
.menu-squeezer{
    position: relative;
    width: 48px;
    height: 48px;
    background: url('../images/baseline-expand_less-24px.svg') no-repeat center;
    opacity : 1;
    /*filter: invert(100%);*/
    background-size: 48px 48px;
    cursor: pointer;
    border-radius: 24px;
    /*box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);*/
    text-align: right;
}

.cat-selector{
    position: fixed;
    right: 0;
    top: 151px;
    width: 56px;
    height: 56px;
    background: #ffffff url('../images/baseline-style-24px.svg') no-repeat center;
    opacity : 0.7;
    background-size: 42px 42px;
    cursor: pointer;
    border-radius: 28px 0px 0px 28px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.cat-picker-modal{
    width: 70vw;
    margin-left: 15vw;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 70px;
    border-radius: 5px;
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
}

.cat-picker-expand{
    font-size: 1rem;
    min-height: 20px;
    cursor: pointer;
    width: 35vw;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(231, 228, 234, 0);
}

.cat-picker-expand:hover{
    background-color: #e7e4ea;
    border: 1px solid #e7e4ea;
}

.picker-title{
    line-height: 20px;
    vertical-align: middle;
    padding: 5px;
    font-size: 1.1rem;
}

.cat-line{
    background-color: #ffffff;
    font-size: 0.9rem;
}

.cat-line:hover{
    background-color: #cecddf;
}

.cat-icon{
    width: 20px;
    height: 20px;
    background: url('../images/baseline-local_offer-24px.svg') no-repeat center;
    background-size: 16px 16px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    opacity : 0.7;
}

.close-cat-picker{
    width: 30px;
    height: 30px;
    background: #ffffff url('../images/baseline-clear-24px.svg') no-repeat center;
    background-size: 24px 24px;
    border-radius: 15px;
    position: absolute;
    margin-top: 0;
    right: 0;
    cursor: pointer;
}

.cat-picker-title{
    width: 100%;
    text-align: center;
}

.main-cat-selection{
    margin-bottom: 80px;
}

.explorer-container{
    position: relative;
    text-align: center;
}

.explorer-cat-tile-name{
    font-size: 1.9rem;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #282828;
    color: #FFFFFF;
    bottom: calc((22vw * 1.66) / 2 - 30px);
    position: absolute;
    vertical-align: middle;
    padding-top: 5px;
}

.explorer-cat-tile-name:hover{
    font-size: 1.9rem;
    height: 60px;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    color: #1d1d1d;
    bottom: calc((22vw * 1.66) / 2 - 30px);
    position: absolute;
    vertical-align: middle;
    padding-top: 5px;
}

.explore-title-pane{
    width: 100vw;
    height: 100px;
    position: relative;
    /*margin-bottom: 20px;*/
}

.explore-title-tile{
    width: 50vw;
    height: 100%;
    /*text-align: center;*/
    /*display: inline-block;*/
    float: left;
    /*padding-top: 32px;*/
    text-align:center;
    display:table;
}

.explore-title-tile h2 {
    display:table-cell;
    vertical-align:middle;
}

.explore-title-tile:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.explorer-color-selection-pane{
    padding-top: 10px;
    position: relative;
    width: 90vw;
    margin-left: 10vw;
    text-align: center;
    horiz-align: center;
    margin-top: 30px;
}

.explorer-color-selection-pane h3 {
    width: 100vw;
    margin-left: -10vw;
    text-align: center;
}

.explorer-alphabet-letter{
    width: 30px;
    height: 30px;
    margin: 2px;
    display: inline-block;
}

.explorer-alphabet-letter:hover{
    cursor: pointer;
    background-color: #c4c4c4;
}

.explorer-brand-selection-pane{
    padding-top: 10px;
    margin-top: 50px;
}

.explorer-alphabet{
    text-align: center;
}

.explorer-brand-tile{
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 2px;
}

.pos-tags-tile{
    color: rgba(206, 255, 198, 0.8);
    margin: 5px;
    display: inline-block;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2px;
}

.neg-tags-tile{
    color: rgba(255, 192, 174, 0.8);
    margin: 5px;
    display: inline-block;
    border-radius: 15px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.9);
}

.explorer-brand-tile:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
}

.pos-tags-tile:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
}

.neg-tags-tile:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
}

.explorer-brand-add{
    width: 24px;
    height: 24px;
    background: url('../images/baseline-add_circle_outline-24px.svg') no-repeat center;
    background-size: 24px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}

.explorer-brand-remove{
    width: 24px;
    height: 24px;
    background: url('../images/baseline-remove_circle_outline-24px.svg') no-repeat center;
    background-size: 24px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}

.explorer-brand-tile-title{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.explorer-brand-selected-list{
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
}

.explorer-shop-selection-pane{
    margin-top: 50px;
}

.explorer-price-selection-pane{
    margin-top: 50px;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 120px;
}

.explorer-no-results{
    height: 300px;
    margin-top: calc(50vh - 175px);
    text-align: center;
}

.explorer-no-results-button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: calc(50vw - 100px);
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

.explorer-no-results-button:hover{
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.4);
}

.explorer-loader-background{
    top: 0;
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.color-modal-image-preview{
    text-align: center;
    height: 45vh;
}

.color-image-preview{
    height: 45vh;
    width: auto;
}

.prod-description{
    margin-bottom: 40px;
}

.palette-button{
    background: url('../images/palette-24px.svg') no-repeat center;
    background-size: 90px 90px;
    width: 90px;
    height: 90px;
    display: inline-block;
    cursor: pointer;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: calc(50% - 15px);
    top: calc(80% - 100px);
    margin-top: 100px;
    -webkit-transform-origin: 60% 60%;
    transform-origin: 60% 60%;
    -webkit-transform: translate3d(-80%, -80%, 0);
    transform: translate3d(-80%, -80%, 0);
}

.arrow-first {
    -webkit-animation: arrow-movement 2s ease-in-out infinite;
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    -webkit-transform: rotate(45deg) translateX(-23%);
    transform: rotate(45deg) translateX(-23%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.arrow:after {
    -webkit-transform: rotate(-45deg) translateX(23%);
    transform: rotate(-45deg) translateX(23%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.add-to-look-tile{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.add-to-look-tile:hover {
    background-color: #e3e3e3;
}

.outfit-details-desktop-grid {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    grid-template-rows: 8fr 2fr;
    grid-template-areas: "images images description" "nothing nothing description";
}

.outfit-details-desktop-images {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-template-areas: "side-images main-image";
    grid-area: images;
}

.product-name-results {
    font-size: 1rem;
}

.product-brand-results {
    font-size: 1rem;
}

.results-card-brand-tag {
    top: 0;
    left: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 0.8rem;
    padding: 2px;
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
    border-radius: 2px;
}

.results-card-brand-tag:hover {
    background-color: #95856f;
}

.results-card-cat-tag {
    display: inline-block;
    font-size: 0.8rem;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 1px;
    background-color: #fff9f0;
    cursor: pointer;
    box-shadow: -1px 0 1px -1px #a7a7a7;
}

.results-card-cat-tag:hover {
    background-color: #e3ded6;
}

.infinite-spinner-done {
    width: 38px;
    height: 38px;
    background: #FFFFFF url('../images/done-black-48dp.svg') no-repeat center;
    background-size: 38px 38px;
    border-radius: 23px;
    display: inline-block;
}

.onboarding-sex-button {
    width: 50%;
    display: inline-block;
    height: 40px;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    padding: 4px;
}

.onboarding-sex-button:hover {
    background-color: black;
    color: white;
}

.onboarding-add-to-wardrobe {
    width: 100%;
    display: inline-block;
    height: 40px;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    background-color: black;
    color: white;
}

.onboarding-add-to-wardrobe:hover {
    background-color: white;
    color: black;
}

.onboarding-product-card{
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.04) 0 3px 24px 8px;
    transition: all 0.3s;
}

.onboarding-product-card:hover {
    box-shadow: rgba(200, 0, 0, 0.08) 0 3px 24px 8px;
}

.image-search-continue:hover {
    background-color: #eaeaea;
}

.outfit-details-desktop-side-images { grid-area: side-images; }

.outfit-details-desktop-main-image { grid-area: main-image; }

.outfit-details-desktop-description { grid-area: description; }

.outfit-details-desktop-nothing { grid-area: nothing; }

.iphone-bottom-nav {
    background: url('../images/iphone-bottom-nav.png') no-repeat center;
    background-size: 100vw 80px;
}

@-webkit-keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 55%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 55%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}






div #output {
    background: #11161A;
    color: #fff;
    border-radius: 50%;
    margin: 0px 5px;
    text-align: center;
    position: relative;
    height: 40px;
    width: 40px;
    padding: 10px 3px 3px;
    cursor: pointer;
}
/*div #output::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: -12px;*/
    /*top: 50%;*/
    /*-webkit-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    /*height: 0;*/
    /*width: 0;*/
    /*border: solid 6px #11161A;*/
    /*z-index: -1;*/
    /*border-top-color: white;*/
    /*border-bottom-color: white;*/
    /*border-left-color: white;*/
/*}*/

/* CHROME */
#range {
    -webkit-appearance: none;
    outline: none;
    background: #11161A;
    height: 6px;
    width: 350px;
    max-width: calc(90vw - 65px);
    border-radius: 5px;
}
#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #11161A;
}

/* FIREFOX */
#range::-moz-range-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #11161A;
    cursor: pointer;
}

#range::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #11161a;
    border-radius: 5px;
}
