.content-wrapper{
    font-size: larger;
}

.register-form {
    width: 300px;
    margin-left: calc((100vw / 2) - 150px);
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
}

.login-welcome {
    text-align: center;
    margin-top: 20vh;
    cursor: pointer;
}

.header-bar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 500;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.7);
}

.logo {
    width: 134px;
    height: 50px;
    padding-top: 0px;
    margin-left: 20px;
    left: 0;
    position: absolute;
    color: #5f5d92;
}

.ok-button {
    display: inline-block;
    margin-top: 20px;
}

.single-test-run-button {
    margin-top: 6px !important;
    margin-right: 15px !important;
}

.content-wrapper {
    margin-top: 50px;
}

.search-choice{
    width: 100vw;
    height: calc(100vh - 50px);
    text-align: center;
}

.image-search-area{
    width: 100%;
    height: calc(100vh - 50px);
    display: inline-block;
    text-align: center;
}

.image-search-area:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.image-dropzone{
    width: 100%;
    height: 100%;
}

.image-search-icon-alt{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background: url('../images/baseline-image_search-24px.svg') no-repeat center;
    background-size: 64px 64px;
    width: 70px;
    height: 70px;
}

.image-search-title{
    display: table;
    text-align: center;
    height: 100%;
    width: 350px;
    max-width: 100vw;
    margin-left: calc(50vw - 175px);
}

.search-choice-button{
    width: 100%;
    height: calc(50vh - 25px);
    display: inline-block;
    text-align: center;
}

.search-choice-button:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.search-choice-title{
    display: table;
    text-align: center;
    height: 100%;
    width: 350px;
    margin-left: calc(50vw - 175px);
}

.image-search-icon{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background: url('../images/baseline-add_a_photo-24px.svg') no-repeat center;
    background-size: 48px 48px;
    width: 64px;
    height: 64px;
}

.text-search-icon{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    background: url('../images/baseline-keyboard-24px.svg') no-repeat center;
    background-size: 48px 48px;
    width: 64px;
    height: 64px;
}

.search-choice-text{
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    font-size: 2rem;
}

.drop-text{
    display: table-cell;
    vertical-align: middle;
}

.preview-container{
    width: 100vw;
    text-align: center;
}

.image-preview{
    max-width: 95vw;
    height: auto;
    /*margin-left: calc((100vw - 300px) / 2);*/
    margin-top: 90px;
}

.search-button{
    width: 200px;
    margin-left: calc((100vw - 200px) / 2);
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
    position: fixed;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.product-tile{
    text-align: center;
    margin: 15px;
    width: 80vw;
    max-width: 620px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    position: relative;
}

.profile-product-tile{
    text-align: center;
    margin: 2vw;
    width: 45vw;
    max-width: 620px;
    padding-top: 15px;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
    font-size: 1rem;
}

.profile-product-tile a{
    font-size: 1rem;
    color: #5f5d92;
}

.product-brand-profile{
    font-size: 0.8rem;
    color: #5f5d92;
}

.result-pane{
    text-align: center;
    width: 100vw;
}

.color-modal{
    z-index: 20;
    width: 500px;
    /*height: 380px;*/
    text-align: center;
    position: fixed;
    top: 100px;
    margin-left: calc(50vw - 250px);
    padding: 20px;
}

.error-modal{
    z-index: 20;
    width: 400px;
    height: 200px;
    text-align: center;
    position: fixed;
    top: 200px;
    margin-left: calc(50vw - 200px);
    padding: 20px;
}

.overlay{
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 47, 0.4);
    position: fixed;
    top: 0;
}

.add-to-favorites{
    width: 64px;
    height: 64px;
    background: #fc94a5 url('../images/favorite_white.svg') no-repeat center;
    background-size: 48px 48px;
    border-radius: 32px;
    position: absolute;
    margin-top: -310px;
    right: -15px;
    cursor: pointer;
}

.color-picker{
    width: 64px;
    height: 64px;
    background: #fca3e1 url('../images/icons8-color-dropper-96.png') no-repeat center;
    background-size: 48px 48px;
    border-radius: 32px;
    position: absolute;
    margin-top: -150px;
    right: -15px;
    cursor: pointer;
}

.cat-picker-bubble{
    width: 64px;
    height: 64px;
    background: #fca7e3 url('../images/baseline-style-24px.svg') no-repeat center;
    background-size: 48px 48px;
    border-radius: 32px;
    position: absolute;
    margin-top: -230px;
    right: -15px;
    cursor: pointer;
}

.search-similar{
    width: 64px;
    height: 64px;
    background: #dd9dfc url('../images/baseline-search-24px.svg') no-repeat center;
    background-size: 48px 48px;
    border-radius: 32px;
    position: absolute;
    margin-top: -70px;
    right: -15px;
    cursor: pointer;
}

.colorcat-search-button{
    background-color: #8c64a2;
    border-radius: 13px;
    width: 100px;
    font-size: x-large;
    color: white;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.cat-choice{
    background-color: #ece8ee;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    padding: 10px;
}

.cat-choice-main{
    background-color: #ece8ee;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    padding: 10px;
    border: solid thick #7f649c;
}

.search-icon{
    background: url('../images/baseline-search-24px.svg') no-repeat center;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: bottom;
}

.text-search-button{
    display: inline-block;
    width: 130px;
    cursor: pointer;
    height: 30px;
}

.search-text{
    font-size: x-large;
    /*vertical-align: middle;*/
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    /*padding-bottom: 20px;*/
}

.text-search-box{
    text-align: center;
    margin-top: 45vh;
}

.inner-text-search-box{
    display: inline-block;
}

.product-image{
    max-width: 100%;
    height: auto;
}

.text-search-input{
    color: #7f649c;
}

.favorites-button{
    background: url('../images/baseline-shopping_basket-24px.svg') no-repeat center;
    background-size: 40px 40px;
    width: 48px;
    height: 48px;
    display: inline-block;
    opacity : 0.5;
    cursor: pointer;
    margin-right: 10px;
}

.home-button{
    background: url('../images/baseline-home-24px.svg') no-repeat center;
    background-size: 40px 40px;
    width: 48px;
    height: 48px;
    display: inline-block;
    opacity : 0.5;
    cursor: pointer;
    margin-right: 10px;
}

.profile-button{
    background: url('../images/baseline-account_circle-24px.svg') no-repeat center;
    background-size: 40px 40px;
    width: 48px;
    height: 48px;
    display: inline-block;
    opacity : 0.5;
    cursor: pointer;
    margin-right: 10px;
}

.header-prompt{
    margin: 15px;
    color: #333333;
}

.product-price{
    margin-top: 5px;
}

.product-price-sale{
    margin-top: 5px;
    color: #dc1b59;
}

.profile-product-list{
    text-align: center;
}

.login-button{
    margin-bottom: 20px;
}

.greeting-text{
    margin: 10px;
}

.profile-product-delete{
    width: 30px;
    height: 30px;
    background: #ffffff url('../images/baseline-delete_forever-24px.svg') no-repeat center;
    background-size: 24px 24px;
    border-radius: 15px;
    position: absolute;
    margin-top: -25px;
    right: -10px;
    cursor: pointer;
    box-shadow: 1px -1px 3px 0 rgba(0, 0, 0, 0.4);
}

.sex-selector{
    position: fixed;
    right: 0;
    top: 70px;
    width: 56px;
    height: 56px;
    background: #ffffff url('../images/baseline-wc-24px.svg') no-repeat center;
    opacity : 0.7;
    background-size: 42px 42px;
    cursor: pointer;
    border-radius: 28px 0px 0px 28px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.cat-selector{
    position: fixed;
    right: 0;
    top: 151px;
    width: 56px;
    height: 56px;
    background: #ffffff url('../images/baseline-style-24px.svg') no-repeat center;
    opacity : 0.7;
    background-size: 42px 42px;
    cursor: pointer;
    border-radius: 28px 0px 0px 28px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.cat-picker-modal{
    width: 70vw;
    margin-left: 15vw;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 70px;
    border-radius: 5px;
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
}

.cat-picker-expand{
    font-size: 1rem;
    min-height: 20px;
    cursor: pointer;
    width: 35vw;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(231, 228, 234, 0);
}

.cat-picker-expand:hover{
    background-color: #e7e4ea;
    border: 1px solid #e7e4ea;
}

.picker-title{
    line-height: 20px;
    vertical-align: middle;
    padding: 5px;
    font-size: 1.1rem;
}

.cat-line{
    background-color: #ffffff;
    font-size: 0.9rem;
}

.cat-line:hover{
    background-color: #cecddf;
}

.cat-icon{
    width: 20px;
    height: 20px;
    background: url('../images/baseline-local_offer-24px.svg') no-repeat center;
    background-size: 16px 16px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    opacity : 0.7;
}

.close-cat-picker{
    width: 30px;
    height: 30px;
    background: #ffffff url('../images/baseline-clear-24px.svg') no-repeat center;
    background-size: 24px 24px;
    border-radius: 15px;
    position: absolute;
    margin-top: 0;
    right: 0;
    cursor: pointer;
}

.cat-picker-title{
    width: 100%;
    text-align: center;
}

.alt-cat-selection{
    font-size: 0.7rem;
}
